.css-button-retro--rose {
  min-width: 130px;
  height: 45px;
  padding: 5px 10px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  outline: none;
  background-color: #000000f1;
  z-index: 0;
  border: 1px solid #925ff0;
}
.css-button-retro--rose:hover:after {
  top: 0;
  left: 0;
}
.css-button-retro--rose:after {
  border-radius: 3px;
  text-align: center;
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #925ff0;
}
